runtime: go114
instance_class: F1

main: ./main/main.go

automatic_scaling:
  max_concurrent_requests: 80
  max_pending_latency: 1s

env_variables:
  V1: $V1
  JWT_SECRET: $JWT_SECRET
  REDIS_URI: $REDIS_URI
  PUBSUB_SECRET: $PUBSUB_SECRET
  PUBSUB_URL: $PUBSUB_URL
  TWITCH_CLIENT_ID: $TWITCH_CLIENT_ID
  TWITCH_CLIENT_SECRET: $TWITCH_CLIENT_SECRET
